<!--begin footer-->
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper footer__wrapper_align-center">
            <a href="{{ '/'|t }}"><img src="/themes/new/images/logo.png" alt="" class="footer__logo"></a>
            <nav class="footer__nav">
                <a href="{{ '/'|t }}" class="footer__nav-link">{{ 'Главная'|t }}</a>
                <a href="{{ '/vegetables'|t }}" class="footer__nav-link">{{ 'Каталог'|t }}</a>
                <a href="{{ '/about'|t }}" class="footer__nav-link">{{ 'О нас'|t }}</a>
                <a href="{{ '/innovations'|t }}" class="footer__nav-link">{{ 'Инновации'|t }}</a>
                <a href="{{ '/blog'|t }}" class="footer__nav-link">{{ 'Блоги'|t }}</a>
                <a href="{{ '/contacts'|t }}" class="footer__nav-link">{{ 'Контакты'|t }}</a>
            </nav>
        </div>
        <div class="footer__wrapper footer__wrapper--extra-padding">
            <div class="footer__contact">
                <a href="mailto:info@ledaagro.com" class="footer__contact-mail">info@ledaagro.com</a>
                <div class="footer__address text">{{ 'Киев, 04050,<br>ул. Мельникова, 2/10'|t }}<a href="tel:+380442908782" class="footer__contact-tel text"> (044) 290 8782 </a></div>
            </div>
            <div class="footer__social">
                <a href="https://www.facebook.com/LedaAgroUA/?ref=bookmarks" target="_blank" class="footer__social-link"><img src="/themes/new/images/svg/facebook.svg" alt=""></a>
                <a href="https://www.instagram.com/ledaagroua/?hl=uk" target="_blank" class="footer__social-link"><img src="/themes/new/images/svg/insta.svg" alt=""></a>
            </div>
        </div>
        <div class="footer__wrapper">
            <a href="https://catlab.agency/" target="_blank" class="footer__allright">Schroedinger's cat lab ©. All rights reserved.</a>
        </div>
    </div>
</footer>
<!--end footer-->