<main>
    <section class="hero hero--product container">
        <article>
            {% if node.field_product_label.value == 1 %}
                <p class="hero__label novelty-label">{{ 'Новинка'|t }}</p>
            {% endif %}
            <div class="hero-info">
                <img src="{{ file_url(node.field_product_packshot.entity.uri.value) }}" alt="product" class="hero__info-img">
                <div>
                    <h2 class="hero__heading heading">{% if language == 'uk' %}{{ node.field_product_title_ua.value }}{% else %}{{ node.label }}{% endif %}</h2>
                    <p class="hero__info-text text-small">{% if language == 'uk' %}{{ node.field_product_description_ua.value }}{% else %}{{ node.field_product_description.value }}{% endif %}</p>
                    <p class="hero__info-amount text-small">{% if node.field_product_packing.value != null %}{{ 'Фасовка'|t }} - {{ node.field_product_packing.value }} {% endif %}{% if node.field_product_pack_unit.value != null %}{{ node.field_product_pack_unit.value|t }}{% endif %}</p>
                </div>
            </div>
            <button class="button button--hero">{{ 'Приобрести'|t }}</button>
        </article>
		{% if node.field_product_image.entity.uri.value != null %}<img src="{{ file_url(node.field_product_image.entity.uri.value) }}" alt="tomatoes" class="hero__img">{% endif %}
        
        <div class="product-gallery js-gallery">
			{% if node.field_product_image.entity.uri.value != null %}<img src="{{ file_url(node.field_product_image.entity.uri.value) }}" class="product-gallery__img">{% endif %}
            <p class="product-gallery__caption text-small">{{ 'Галерея товара'|t }}</p>
        </div>
		
        <div class="product-gallery-window-wrapper js-pop-up">
            <div class="product-gallery-window js-gallery-slider">
                {% for entity in node.field_product_gallery %}
                    <div class="product-gallery-item">
                        <p class="js-slider-name hidden-name">{% if language == 'uk' %}{{ node.field_product_title_ua.value }}{% else %}{{ node.label }}{% endif %}</p>
                        <img src="{{ file_url(node.field_product_gallery[loop.index0].entity.uri.value) }}" alt="1" class="product-gallery-item__img">
                    </div>
                {% endfor %}
            </div>
            <div class="product-gallery-item__controlls">
                <div class="product-gallery-item__controlls-name js-name-container"></div>
                <div class="product-gallery__arrows js-arrows"></div>
                <button class="product-gallery-item__close js-close"><img src="/themes/new/images/svg/close.svg" alt="close"></button>
            </div>
        </div>
		
    </section>
    <section class="product container">
        <ul class="tabs">
            {% for entity in node.field_product_char %}
                <li class="tabs__link js-tab-link" data-id="id-{{ loop.index0 }}"><span>{% if language == 'uk' %}{{ node.field_product_char[loop.index0].entity.field_label_ua.value }}{% else %}{{ node.field_product_char[loop.index0].entity.field_label.value }}{% endif %}</span></li>
            {% endfor %}
        </ul>
        <div class="tabs-content-wrapper">
            {% for entity in node.field_product_char %}
                <div class="tabs-content {% if loop.index0 == 0 %}is-active{% endif %} js-tab-content id-{{ loop.index0 }}">
                    {% if node.field_product_char_picture.entity.uri.value != null %}<img src="{{ file_url(node.field_product_char_picture.entity.uri.value) }}" alt="img">{% endif %}
                    <div class="tabs-content__info">
                        <p class="text">{% if language == 'uk' %}{{ node.field_product_char[loop.index0].entity.field_description_ua.value|raw }}{% else %}{{ node.field_product_char[loop.index0].entity.field_description.value|raw }}{% endif %}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
	
	{{ page.content }}
	
    <section class="hits">
        <h2 class="section-heading">{{ 'Хиты категорий'|t }}</h2>
		<div class="hits__item">{{ hit_render.0 }}{{ hit_render.1 }}{{ hit_render.2 }} </div>
    </section>
	<section class="map" id="shops">
		<div class="container">
			<h4 class="catalog__title section-heading">{{ 'Где купить'|t }}</h4>
		</div>
		<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Igd7ceRCWB1ZJCf-sYFibPIao0gJ-nlY" width="100%" height="500"></iframe>
	</section>
</main>