<main>
    <section class="hero--catalog">
        <p class="hero__background-heading">{{ 'Удобрения'|t }}</p>
        <div class="hero container">
            <h2 class="hero__heading hero__heading--centered heading">{{ 'Удобрения'|t }}</h2>
            <div class="page-select page-select--catalog">
                <a href="{% if language == 'uk' %}/uk{% else %}/ru{{ output -}}{% endif %}/flowers" class="page-select__link">
                    <img src="/themes/new/images/product-icon-1.png" class="page-select__img">
                    <img src="/themes/new/images/svg/arrow-right.svg" alt="prev">
                    <span class="page-select__name text-small">{{ 'Семена цветов'|t }}</span>
                </a>
                <a href="{% if language == 'uk' %}/uk{% else %}/ru{{ output -}}{% endif %}/vegetables" class="page-select__link">
                    <img src="/themes/new/images/product-icon-3.png" class="page-select__img">
                    <span class="page-select__name text-small">{{ 'Семена овощей'|t }}</span>
                    <img src="/themes/new/images/svg/l_arrow.svg" alt="next">
                </a>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="products">
            {{ page.content }}
        </div>
    </div>
</main>